@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

.delete-animation {
  animation: delete 1s forwards;
}

@keyframes delete {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
